.hidden {
  display: none;
}

body {
  min-width: 1150px;
}

main {
  padding: 100px 0;
}

header {
  position: sticky;
  top: 0;
  justify-content: space-between;
  background-color: #ffffff;
  height: 100px;

  display: flex;
  align-items: center;

  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header-inner {
  display: flex;
  justify-content: space-between;
  width: 1150px;
  margin: 0 auto;
}

header .title-box {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: rgb(54, 47, 41);

  /* min-width: 50%; */
  justify-content: center;

  font-size: 24px;
}

header div {
  display: flex;
}

header button,
header a {
  flex: 0 0 auto;
  height: 50px;

  display: flex;
  align-items: center;

  padding: 0 20px;
  margin: 0 10px 0 10px;

  border-radius: 10px;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.151);

  font-size: 15px;
  font-weight: 500;
}

header button span,
header a span {
  flex: 1;
  white-space: nowrap;
}

h2 {
  margin-bottom: 70px;
  font-size: 32px;
}

.basic-inner {
  max-width: 1000px;
  margin: 0 auto;
}

.left-btn-box {
  min-width: 25%;
}

.right-btn-box {
  min-width: 25%;
  justify-content: right;
}

/* 푸터 */
footer {
  height: 50px;
  border-top: 1px solid rgba(0, 0, 0, 0.212);

  font-weight: 300;
}

.footer-right-box {
  height: 50px;

  padding: 15px 35px;

  text-align: right;
}

small {
  font-weight: 400;
}

.center-inner {
  max-width: 450px;
  margin: 0 auto 70px;
}

.input-box {
  display: flex;
}

.input-box .input-wrap {
  width: 70%;
}

.input-box .input-wrap input {
  width: 197px;
}

.input-box .btn-primary {
  width: 20%;
  margin-left: auto;
  font-size: 14px;
}

.input-wrap {
  display: flex;
  align-items: center;
  min-width: 310px;
  margin-top: 15px;
  font-size: 18px;
  color: #333;
}

.input-wrap:first-child {
  margin-top: 0;
}

.input-wrap input {
  flex: 1;
}

.input-wrap label {
  flex-shrink: 0;
  width: 155px;
  font-size: 15px;
  font-weight: 600;
}

.input-wrap input {
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ddd;
  border-radius: 10px;
}

input:read-only {
  border: none;
}

textarea {
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ddd;
  border-radius: 10px;
}

.create-post-content textarea {
  width: 90%;
  height: 120px;
}

.btn-primary {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
  font-weight: 500;
  border-radius: 10px;
  color: #fff;
  border: 1px solid transparent;
  background-color: #04b4ae;
  transition: all 0.3s;
}

.btn-primary:hover {
  color: #04b4ae;
  border: 1px solid #04b4ae;
  background-color: #fff;
}

.btn-primary.border {
  color: #04b4ae;
  border: 1px solid #04b4ae;
  background-color: #fff;
}

.btn-primary.border.red {
  color: rgb(223, 75, 75);
  border-color: rgb(223, 75, 75);
}

.btn-full {
  width: 100%;
  height: 55px;
  margin-top: 30px;
}
.card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 100px 5%;
}
.card-item {
  width: 30%;
  box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
  border-radius: 20px;
}
.card-item a {
  display: block;
  width: 100%;
  padding: 30px 20px 10px;
}

.card-item .img-wrap {
  width: 100%;
  height: 250px;
  margin-bottom: 30px;
  border-radius: 5px;
  overflow: hidden;
}

.card-item .text-wrap {
  width: 100%;
  height: 95px;
}

.card-item .text-wrap strong {
  margin-bottom: 5px;
  font-size: 18px;
}

.card-item .text-wrap strong,
.card-item .text-wrap p {
  display: block;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; /* 말줄임 적용 */
}

.profile-img-wrap {
  width: 100%;
  height: 100%;
}
.profile-img-wrap img {
  object-fit: cover;
}
