main {
  min-height: 100vh;
  flex-grow: 1;

  /* padding: 30px 0; */
}

/* 버튼 */
.basic-btn {
  flex: 0 0 auto;
  height: 50px;

  display: flex;
  align-items: center;

  padding: 0 20px;
  margin: 0 10px 0 10px;

  border-radius: 10px;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.151);

  font-size: 20px;
  font-weight: 600;

  transition: all 0.3s;
}

.basic-btn span {
  flex: 1;
  white-space: nowrap;
}

/* 카드 컨테이너 */
.card-container {
  color: #362f29;
  display: grid;
  width: 1150px;
  margin: 0 auto;
  grid-template-columns: repeat(3, 1fr);
  gap: 5%;
  padding: 0 10px;
}

.card {
  padding: 20px;
  border-radius: 10px;
}

img:hover {
  cursor: pointer;
}

/* 게시글 상세 페이지 */
.detail-page-box {
  margin: 0 30px;
}

.detail-page-img-box {
  width: 800px;
  height: 400px;

  display: flex;
  margin: auto;
}

.detail-page-img {
  width: 400px;
  height: 400px;

  padding: 20px;
}

.detail-page-title {
  width: 400px;
  height: 400px;

  padding: 100px 50px;
  line-height: 2;
}

.detail-page-title h1 {
  font-size: 30px;
}

.detail-page-title p {
  font-size: 20px;
}

.detail-page-content {
  width: 800px;

  margin: auto;
  padding: 20px;
}

.detail-page-content p {
  word-wrap: break-word;
}

.detail-page-btn-box {
  width: 800px;
  height: 50px;

  margin: 20px auto;

  display: flex;
  justify-content: right;
}

/* 게시글 작성 */
.create-post-box {
  flex-grow: 1;
}

.create-post-img {
  width: 400px;
  height: 400px;

  margin: auto;
}

.img-upload-btn {
  width: 400px;
  height: 20px;

  margin: 30px auto 50px auto;

  display: flex;
  justify-content: center;
}

.create-post-title {
  width: 800px;
  height: 40px;

  margin: 20px auto;
  padding: 10px;

  border: 1px solid #ddd;
  border-radius: 10px;

  font-size: 14px;
}

.create-post-title input {
  width: 90%;
}

.create-post-content {
  /* width: 800px;
  min-height: 150px;
  height: auto;

  margin: 20px auto;
  padding: 10px;

  border: 1px solid #ddd;
  border-radius: 10px;

  font-size: 14px; */
}

.create-post-btn {
  width: 800px;
  height: 40px;

  margin: 20px auto;

  display: flex;
  justify-content: right;
}
